---

---

<header class="w-full h-[30px] mb-8">
  <nav
    class="flex px-4 py-2 bg-white justify-between items-center fixed top-0 left-0 right-0 shadow-md"
  >
    <img
      class="w-[25px]"
      src="https://www.svgrepo.com/show/489508/menu-burger-horizontal.svg"
      alt=""
    />

    <div class="text-right">
      <h2 class="text-lg">First name</h2>
      <h4 class="text-xs text-gray-700">LastName</h4>
    </div>
  </nav>
</header>
